@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: #F2EFED;
}
h1,h2,h3,h4,h5,h6{
    color: #240B03;
    font-family: "Overpass", serif;
    font-weight: bold;
}
p{
    font-family: "Mulish",serif;
    color: #554637;
}
.theme-bg-color-light{
    background-color: #F2EFED;
}
.theme-text-col-dark{
    color: #563B25;
}
.theme-text-col-lite{
    color: #5F4129;
}
.theme-color-primary{
    color: rgba(225, 155, 95);
}
.theme-color-complementary{
    color: rgba(95, 164, 225)
}
.theme-border-color{
    border-color: rgba(95, 164, 225) ;
}
.font-overpass{
    font-family: "Overpass", serif;
}
.font-mulish{
    font-family: "Mulish",serif;
}
.mynav{
    position: absolute;
    top: 0;
    background: transparent;
    color: black;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}
.mynav img{
    width: 60px;
    height: 60px;
}

.hero-bg{
  height: 100vh;
  width: 100%;
  position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: rgb(8 8 9 / 42%);
}
.hero-bg .overlay-content{
    position: absolute;
    width: 40%;
    min-width: 250px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(86, 59, 37, .5);
    padding: 20px 15px 25px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    
}
.hero-heading{
    font-size: 50px;
    font-family: 'Concert One', sans-serif;
}
.theme-btn{
    background-color: rgba(95, 164, 225, .8);
    color: #fff;
}
.theme-btn:hover{
    background-color: #fff;
    color: rgba(95, 164, 225, .8)
}
.room-showcase .block{
    height: 400px;
}
.footer-bg{
    padding: 40px;
    width: 100%;
    background-color: white;
    height: 200px;
    padding-top: 80px;
}
.section-heading{
    position: relative;
    width: fit-content;
}
.partial-border::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left:0;
    width: 15%; /* adjust the width to control the partial border */
    height: 4px;
    background-color: rgba(95, 164, 225) ;
  }

@media only screen and (max-width: 600px) {
    .hero-bg{
        height: 70vh;
    }
    .hero-bg .overlay-content{
        width: 70%;
    }
}